.light_gray {
    color: #DCDCDC;
}

.dark_gray {
    color: #353535;
}

.gray_shade {
    color: #80878E !important;
}

.orange_shade {
    color: #E77817;
}

.black_01 {
    color: #353535;
}

.light_green {
    color: #229B40;
}

.ff_roboto {
    font-family: "Roboto", sans-serif;
}

.fs_s {
    font-size: 10px;
}

.fs_xsm {
    font-size: 12px;
}

.fs_sm {
    font-size: 14px;
}

.fs_md {
    font-size: 16px;
}

.border_r_sm {
    border-radius: 8px;
}

.gap_20 {
    gap: 20px;
}

.card_shadow {
    box-shadow: 6px 6px 10px 0px #053D6E30;
    border: 1px solid #DCDCDC
}

.btn_border {
    border-radius: 4px;
    border: 1px solid #E77817;
    background: transparent;
    padding: 7px 6px;
}

.search_input {
    width: 228px;
    border: 1px solid #DCDCDC;
    padding: 6.5px 8px;
    color: #80878E;
    font-family: roboto;
    font-weight: normal;
    font-size: 14px;
    outline: none;
}

.search_input::placeholder {
    color: #80878E;
    font-family: roboto;
    font-weight: normal;
    font-size: 14px;
}

.basket_btn {
    border: 2px solid #E77817;
    padding: 6.5px 14.5px;

}

.pay_input,
.pay_input::placeholder {
    border: none;
    outline: none;
    color: #80878E;
    font-family: roboto;
    font-weight: 500;
}

.input_box {
    border: 1px solid #DCDCDC;
    background: #F5F6F7;
    padding: 3px 4px;
    max-width: 241px;

}

.border_bottom {
    border-bottom: 1px solid #DCDCDC;
    padding: 12px;
}

.table_inner_shadow {
    box-shadow: 0px 2px 4px 0px #00000040 inset;

}

.spacing th {
    padding: 13.25px 12px;
}

.spacing td {
    padding: 9px 12px;
}

.green_border {
    border: 1px solid #229B40;
    box-shadow: 3px 3px 6px 0px #2B2B2B0A;
    padding: 9px 8px;
}

select {
    border: 1px solid #DCDCDC;
    background-color: transparent;
    padding: 5.5px 8px;
    border-radius: 4px;
}

.slide_btn_border {
    border: 1px solid #80878E;
    border-radius: 40px;
    padding: 3px 5px 3px 3px;
}


.button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover,
.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 50%;
    width: 139px;
    height: 37px;
    overflow: hidden;
}

.button.r,
.button.r .layer {
    border-radius: 40px;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    /* width: 100%; */
    width: 139px;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    padding: 6.5px 8px;
    z-index: 2;
    color: black;
    border-radius: 20px;
}

.layer {
    width: 100%;
    background-color: white;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before {
    content: "NORMAL";
    position: absolute;
    top: 4px;
    left: 4px;
    bottom: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #34C758;
    border-radius: 20px;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked+.knobs:before {
    content: "STOPLOSS";
    left: 65px;
    width: 70px;
    right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #34C758;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
    transition: 0.3s ease all;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-color-type: var(--bs-table-striped-color);
    --bs-table-bg-type: white;
}

